<%= provide :title, "Dashboard" %>
<div id="page-box">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#statistics" data-toggle="tab">Site statistics</a></li>
    <li><a href="#activity-feed" data-toggle="tab">Activity feed</a></li>
  </ul>
  <div id="tab-content" class="tab-content" style="background: #fff;">
    <div class="tab-pane active" id="statistics">
      <h3>Statistics</h3>

      <div class="row three-button-row">
        <div class='co-lg-4 col-md-4 col-sm-4'>
            <%= link_to "#{@stats[:articles][:count]} Articles Published", "#", class: 'btn btn-primary btn-lg btn-block', title: "articles" %> </div>

        <div class='co-lg-4 col-md-4 col-sm-4'>
            <%= link_to "#{@stats[:projects][:count]} Active Projects", "#", class: 'btn btn-primary btn-lg btn-block', title: "projects" %></div>

        <div class='co-lg-4 col-md-4 col-sm-4'>
            <%= link_to "#{@stats[:documents][:count]} Documents Created", "#", class: 'btn btn-primary btn-lg btn-block', title: "documents" %></div>

        <div class='co-lg-4 col-md-4 col-sm-4'>
            <%= link_to "#{@stats[:pairing_minutes][:value]} Pair Programming Minutes", "#", class: 'btn btn-primary btn-lg btn-block', title: "pair-minutes" %></div>

        <div class='co-lg-4 col-md-4 col-sm-4'>
            <%= link_to "#{@stats[:scrum_minutes][:value]} Scrum Minutes", "#", class: 'btn btn-primary btn-lg btn-block', title: "scrum-minutes" %></div>
      
        <div class='co-lg-4 col-md-4 col-sm-4'>
            <%= link_to "#{@stats[:members][:count]} AgileVentures Members", "#", class: 'btn btn-primary btn-lg btn-block', title: "members" %></div>
      </div>


    </div>
    <div class="tab-pane" id="activity-feed">

      <h3>Recent activities</h3>

      <div id="feed">
        <% if @activities %>
            <% @activities.each do |activity| %>
                <div class="activity">
                  <%= render_activity activity %>
                </div>
                <hr>
            <% end %>
        <% else %>
            <p>No public activity</p>
        <% end %>
      </div>

    </div>

  </div>
</div>

<script src="http://code.highcharts.com/maps/highmaps.js"></script>
<script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
<script>$(function () {

    // Import user data

    var data = <%= User.highchart_data.to_json.html_safe %>

    // Initiate the chart
    $('#container').highcharts('Map', {

        title : {
            text : 'Highmaps basic demo'
        },

        subtitle : {
            text : 'Source map: <a href="http://code.highcharts.com/mapdata/custom/world.js">World</a>'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            min: 0
        },

        series : [{
            data : data,
            mapData: Highcharts.maps['custom/world'],
            joinBy: 'hc-key',
            name: 'Random data',
            states: {
                hover: {
                    color: '#BADA55'
                }
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }]
    });
});
</script>



<%= content_tag :div, id: 'container', data: User.group(:country_code).count do %>

<% end %>

